body {
	text-align: center;
}

.wrapper {
	display: grid;
  grid-template-columns: 1fr;
  min-width: min-content;
  max-width: 60vw;
  
	margin: 20px auto;
  border: 2px solid black;
}

.header-item {
  border: 1px solid black;
  padding: 5px;
}

.header-item > img {
  text-align: end;
}

.item {
  border: 1px solid black;
  padding: 5px;
}

.item-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 3fr 2fr;
}

.item-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 3fr 2fr;
}

.details-close {
  display: none;
  grid-area: 2 / 1 / 2 / 6;
}

.details-show {
  min-width: 300px;
  max-width: 600px;
  
  text-align: start;
  padding: 10px 20px 10px 20px;
}

.up-arrow {
  width: 1em;
}